---
import Layout from "../layouts/Layout.astro";
import sendGrid from '@sendgrid/mail';
sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );
const errors = { name: "", email: ""};

if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const email = data.get('email');
    const message = data.get('message');

    // TODO: Do not forget to do validation and error handling over received data from your contact form.
    // Sending email
    const msg = {
      to: 'miguel.suarezf05@gmail.com', // Change to your recipient
      from: 'miguel.suarezf05@gmail.com', // Change to your verified sender
      subject: `Contact form submission from ${name}, ${email}`,
      text: message,
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent');
      alert("Gracias, estare en contacto lo más pronto posible.");
    }).catch((error) => {
      console.error(error)
      alert("Algo salio mal");
    });

  } catch (error) {
    console.error(error);
    alert("Algo salio mal");
  }
}
---

<Layout title="Contacto">
  <main class="px-5 w-full mt-4 flex flex-col items-center" >
    <h1 class="font-bold text-3xl md:text-6xl w-full text-left text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 p-4">Dejanos un mensaje</h1>
    <form 
    method="POST"      
    class=' w-1/2 min-w-[280px] mt-12 flex flex-col gap-2 border-1 border-gray-500 bg-slate-400 dark:border-gray-800 rounded-lg dark:bg-slate-700 p-5'
        >
          <label class='flex flex-col'>
              <span class= 'font-medium mb-4'>Tu nombre</span>
            
            <input 
              type='text'
              name='name'
              placeholder="Escribe tu nombre aquí"
              class='bg-gray-200 dark:bg-slate-900 py-4 px-6 rounded-lg outlined-none border-none font-medium'
              required
            />
            {errors.name && <p>{errors.name}</p>}
          </label>
          <label class='flex flex-col'>
              <span class= 'font-medium mb-4'>Tu correo</span>
            <input 
              type='email'
              name='email'
              placeholder="Escribe tu correo aquí"
              class='bg-gray-200 dark:bg-slate-900 py-4 px-6 rounded-lg outlined-none border-none font-medium'
              required
            />
            {errors.email && <p>{errors.email}</p>}
          </label>
          <label class='flex flex-col'>
            <span class=' font-medium mb-4'>Tu mensaje</span>
            <textarea 
              rows={3}
              name='message'
              placeholder="Escribe tu mensaje aquí"
              class='bg-gray-200 dark:bg-slate-900 py-4 px-6 rounded-lg outlined-none border-none font-medium'
              required
            />
          </label>
          <button
            type='submit'
            class='bg-gray-200 dark:bg-slate-900 py-3 px-8 outline-none w-fit font-bold shadow-md dark:shadow-gray-600 rounded-xl hover:scale-110'
          >
            Enviar
          </button>
    </form>
  </main>
</Layout>
