---
import Hero from '../components/Hero.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
---

<Layout title="Bienvenidos">
  <main class="px-4 ">
    <SectionContainer id="home" class="py-20 md:py-36">
      <Hero/>
    </SectionContainer>
    <SectionContainer id="services" class="pb-24">
      <Services/>
    </SectionContainer>
    <SectionContainer id="about" class="pb-24">
      <About/>
    </SectionContainer>
  </main>
</Layout>
