---
import ServiceCard from '../components/ServiceCard.astro';
import Layout from '../layouts/Layout.astro';

const servicios = [
  {
    name: "Reparación de motores",
    image: "/motor.jpg",
  },
  {
    name: "Escaner",
    image: "/escaner.jpg",
  },
  {
    name: "Suspensión",
    image: "/suspension.jpg",
  },
  {
    name: "Frenos",
    image: "/frenos.jpg",
  },
  {
    name: "Alistamiento para tecnomecanica",
    image: "/tecno.jpg",
  },
  {
    name: "Sincronización",
    image: "/sincro.jpg",
  },
  {
    name: "Cambio de aceite",
    image: "/aceite.jpg",
  },
  {
    name: "Cambio correa de repartición",
    image: "/correa.jpg",
  },
  {
    name: "Reparación de caja de velocidades",
    image: "/caja.jpg",
  },
  {
    name: "Cambio de kit de embrague",
    image: "/embrague.jpg",
  }
];
---

<Layout title="Servicios">
  <main class="p-[var(--padding-size)] w-full mt-4">
		<h1 class="font-bold text-3xl md:text-5xl w-full text-center">Servicios</h1>
    <section
      class="text-sm lg:text-lg sm:grid sm:grid-cols-2 lg:grid-cols-5 md:gap-10 mt-4"
    >
    {
      servicios.map((servicio) => (
        <ServiceCard title={servicio.name} image={servicio.image} />
      ))
    }
    </section>
  </main>
</Layout>