---
import Frame from "./Frame.astro";
---

<h2 class="font-bold text-3xl md:text-5xl w-full text-center">Acerca de nosotros</h3>
<div class="flex flex-col items-center mt-10 gap-y-12">
  <Frame>
    <img src="/memoji.png" width={200} height={200} alt="emoji de Miguel" />
  </Frame>
  <p>Fundado en 1997 por Ángel Enrique Suárez, nuestro taller ha sido un referente de confianza y profesionalismo en el servicio automotriz. Ubicados en la carrera 96 # 65A-03, llevamos más de dos décadas comprometidos con la calidad y seguridad de cada vehículo que atendemos. Nuestro enfoque siempre ha sido brindar un servicio personalizado y honesto, respaldado por un equipo de expertos apasionados y un entorno equipado con tecnología avanzada.</p>
</div>