---
interface Props {
  href: string;
  blank: boolean;
}

const { href, blank } = Astro.props;
---

<a
  href={href}
  target={blank ? "_blank" : "_self"}
  class="btn-card text-md p-2 self-center hover:font-bold hover:tracking-wider relative"
>
  <svg class="h-[45px] absolute top-0 left-0 w-full">
    <rect class="" x="0" y="0" fill="none" width="100%" height="100%"></rect>
  </svg>
  <slot />
</a>
