---
---

<footer
  class="w-3/4 border-t border-gray-900 mt-4 mx-auto p-10"
>
  <div class="flex flex-col items-center justify-center gap-6">
    <img src="/logo.svg" alt="logo" class="h-16 my-5" />
    <p>
      Encuentranos en <a
        href="https://www.google.com/maps/place/Masmotors/@4.6940553,-74.1214506,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f9b59686df79b:0xc3cd10947ff39608!8m2!3d4.69405!4d-74.1188757!16s%2Fg%2F11g71b8yfm?entry=ttu"
        target="_blank"
        class="font-bold text-[#FF0000] hover:text-[#FFDC00]"
        >Carrera 96 # 65A - 03</a
      > Bogotá, Colombia
    </p>
    <p class="w-full text-center">
      &copy; MASDev. Mayoria de los derechos reservados
    </p>
  </div>
</footer>
