---
---

<footer class="w-full border-t border-gray-500 mt-4 mx-auto p-10 bg-slate-500/50">
  <div class="flex flex-col justify-center gap-6 ">
    <div class="flex flex-col md:grid md:grid-cols-2">
      <div id="map" class="w-4/5 h-96 self-center justify-self-center"></div>
      <div class="w-full h-96 ">
        <img src="/logo.svg" alt="logo" class=" h-16 my-5" />
        <p>Encuentranos en <span class="font-bold">Carrera 96 # 65A - 03</span> Bogotá, Colombia</p>
      </div>
    </div>
    
    <p class="w-full text-center">&copy; MASmotor's. Todos los derechos reservados</p>
  </div>
</footer>
