---
import Card from "../components/Card.astro";

const marcas = [
  {
    name: "Hyundai",
    image: "/hyundai.png",
  },
  {
    name: "Mazda",
    image: "/mazda.png",
  },
  {
    name: "Nissan",
    image: "/nissan.png",
  },
  {
    name: "Chevrolet",
    image: "/chevrolet.png",
  },
  {
    name: "Ford",
    image: "/ford.png",
  },
  {
    name: "Renault",
    image: "/renault.webp",
  },
  {
    name: "Susuki",
    image: "/susuki.png",
  },
  {
    name: "Kia",
    image: "/kia.png",
  },
  {
    name: "Toyota",
    image: "/toyota.png",
  },
  {
    name: "Fiat",
    image: "/fiat.png",
  },
  {
    name: "Peugeot",
    image: "/peugeot.png",
  },
  {
    name: "Subaru",
    image: "/subaru.png",
  },
  {
    name: "Mitsubishi",
    image: "/mitsubishi.png",
  },
  {
    name: "Volkswagen",
    image: "/volkswagen.png",
  },
  {
    name: "Citroen",
    image: "/citroen.png",
  },
  {
    name: "Honda",
    image: "/honda.png",
  },
];
---

<div class="flex flex-col md:flex-row items-center justify-between gap-x-10">
  <img
    src="/logo.svg"
    alt="logo masmotors"
    class="w-full"
  />
  <h1 class="font-bold text-xl md:text-3xl w-full my-5">
    Confianza y Calidad en Mantenimiento Automotriz
  </h1>
</div>
<div
  class="flex flex-col md:flex-row items-start justify-center my-3 gap-x-10"
>
  <img src="/camaro.avif" alt="Camaro lado" class="w-full md:w-1/2" />
  <div class="flex flex-col w-full md:w-1/2 gap-y-10">
    <p class="">En MASmotor's te ofrecemos un servicio personalizado y profesional, cuidando cada detalle de tu auto para garantizarte la mejor experiencia y seguridad en la carretera.</p>
    <button>Agenda tu cita</button>
  </div>
</div>
<div class="flex">
</div>
<div class="flex overflow-hidden">
  <ul class="flex gap-5 animate-scroll shrink-0">
    {
      marcas.map((marca) => (
        <Card title={marca.name} image={marca.image} />
      ))
    }
  </ul>
  <ul class="flex gap-5 animate-scroll shrink-0" aria-hidden="true">
    {
      marcas.map((marca) => (
        <Card title={marca.name} image={marca.image} />
      ))
    }
  </ul>
</div>