---
import { Image } from "astro:assets";
interface Props {
  title: string;
  image: string;
}

const { title, image } = Astro.props;
---

<div class="group flex flex-col items-center justify-center">
  <div
    class="h-52 w-3/4 md:h-32 flex justify-end items-end bg-gray-100 overflow-hidden rounded-xl shadow-lg relative hover:shadow-xl"
  >
    <div
      class="w-full h-full flex object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200 text-transparent rounded-xl"
    >
      <Image src={image} alt={title} width={440} height={300} />
    </div>
  </div>
  <span
    class="inline-block text-gray-800 text-sm md:text-md border border-gray-300 rounded-lg backdrop-blur p-1 mx-auto my-2 group-hover:bg-blue-300 transition duration-200 text-center"
  >
    {title}
  </span>
</div>
