---
interface Props {
	title: string;
	image: string;
}

const { title, image } = Astro.props;
---

<div class=" w-full flex flex-col items-center justify-center">
    <h3>{title}</h3>
		<img src={image} alt={title} class=" w-3/4" />
</div>